

*{
  padding: 0;
  margin: 0;
}

.container{
width: 500px;
margin:0 auto;
position: relative;
}
.head{
  text-transform: uppercase;
text-align: center;
}

.form{
  margin-top:10px;
  text-align: center;
  
}

.btn{
  color:red;
  background-color: blue;
  border: transparent;
  padding: 5px;
  border-radius: 5px;
}

.input{
  background-color: grey;
  margin: 10px;
  border: transparent;
  padding: 5px;
  border-radius: 5px;
}

label{
  font-size: 30px;
}


.para{
  margin-top:30px ;
  text-align: center;
  color:grey;
  font-weight:bold;
}